/*通用的样式重置*/

/*通用的样式重置*/
/*移动端样式适配*/
/*移动端样式适配*/
/*业务样式*/
/*业务样式*/
/**
* @file shade.css
* @brief zui  shade.css
* @author xianfei - http://www.cnblogs.com/xianfei689
* @version 1.0
* @date 2016-09-23
*/

body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
optgroup,
p,
blockquote,
figure,
hr,
menu,
dir,
thead,
tbody,
tfoot,
th,
td {
    margin: 0;
    padding: 0;
}

.zui-ui-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1008;
}



.zui-tip-div {
    position: fixed;
    z-index: 10000;
    top: 37%;
    left: 50%;
    width: 80%;
    display: block;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    transform: translate3d(-50%, -50%, 0);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.zui-tip1 {
    background-color: #10A9ED;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.zui-tip {
    padding-left: 10px;
}

#zui-close {
    color: #fff;
    float: right;
    margin-right: 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.zui-tip2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.zui-tip4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.zui-tip6 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.zui-price {
    height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 60%;
}

.zui-length {
    height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 95%;
}

.zui-calc {
    float: right;
    margin-right: 12px;
    color: #fff;
    background-color: #10A9ED;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    line-height: 25px;
}

.zui-reset {
    display: inline-block;
    color: #fff;
    height: 25px;
    line-height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #FF9901;
    border: none;

    margin-right: 80px;
        width: 60px;
}

.zui-buy {
    background-color: #FF0101;
    display: inline-block;
    color: #fff;
    height: 25px;
    line-height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
        width: 60px;
}

body {
    font-family: Helvetica;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%!important;
}

input[type='number'] {
    -webkit-user-select: text;
}

a,
button,
input,
img {
    -webkit-touch-callout: none;
}


/* 1.ios 长按时不触发系统的菜单 2.禁止长按时下载图片 */

input,
select,
textarea {
    outline: none;
    -webkit-appearance: none;
}

去除android4.0以下 a/button/input标签被点击时产生的边框 因为边框引起了不少bug a,
button,
input,
label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Android4.0下不识别选择器-webkit-transform-3d 使用它可做Android4.0下版本兼容 */

@media all and (-webkit-transform-3d) {
    /* android4.0+ ios4+ 恢复按钮被点击时产生的效果 */
    a,
    button,
    input,
    label {
        outline: none;
        -webkit-tap-highlight-color: rgba(130, 130, 130, .52);
    }
}
